div.header-left {
    flex-direction: row-reverse;
    justify-self: flex-end;
    align-items: center;
    gap: 10px;
}

div.units-buttons {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
}

button.header-button {
    margin: 0;
}

button.copy-link {
    padding: 8px;
}

div.body {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
}

div.page-element {
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 600px;
    border: 3px solid black;
    border-radius: 5px;
    gap: 4px 3em;
    margin: 10px;
    padding: 10px;
    background-color: var(--light);
}

div.page-element h2 {
    margin: 0 auto;
}

select#motor_name {
    flex: 0 1 auto;
    min-width: 20em;
    align-self: center;
}

div.break {
    flex-basis: 100%;
}

div.field input {
    max-width: 4em;
    text-align: right;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
div.graph-limits input[type=number] {
  -moz-appearance: textfield;
}

div.field label {
    margin: auto 5px;
}

h3 {
    margin: 0 0 0.3em 0;
}

input[type=radio] {
    margin-left: 3px;
}

div.page-element#motor {
    max-width: 500px;
}

input[type=number] {
    border: 1px solid gray;
    padding: 2px;
}