div.page-element#motor {
    flex-direction: row;
    align-content: space-around;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

div.page-element#load {
    align-items: flex-end;
    justify-content: space-around;
    padding-top: 2em;
    padding-bottom: 2em;
}

div.page-element#load span {
    min-width: calc(4.5em - 3px);
    box-sizing: border-box;
}

div.page-element#load select {
    min-width: 4.5em;
    box-sizing: border-box;
}

div.page-element#calculation {
    flex-direction: row;
    max-width: 100%;
    align-items: center;
}

div.inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
}

div.field input[type=radio] {
    border: 2px solid black;
    padding: 0.4em;
    margin: 3px 3px 3px 6px;
    background-color: var(--med-light);
    -webkit-appearance: none;
}

div.field input[type=radio]:hover {
    background-color: var(--dark);
}

div.field input[type=radio]:checked {
    background-color: var(--selected);
}

div.field input.hidden[type=radio] {
    background-color: transparent;
    border: 2px solid transparent;
}

div.inputs span {
    min-width: calc(4.5em - 3px);
    box-sizing: content-box;
}

div.inputs select {
    min-width: 4.5em;
    box-sizing: content-box;
}

div.graph {
    width: 50vw;
    max-width: 700px;
}

div.max-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: large;
    margin-top: 1em;
}

button.max {
    font-size: 0.8em;
    padding: 5px;
    border: 1px solid black;
    border-radius: 0px;
    box-shadow: none;
}

button.max:hover {
    background-color: var(--dark);
}

button.max input {
    display: none;
}

canvas#graph {
    background-color: white;
}

div.graph {
    display: flex;
    flex-direction: column;
}

div.graph-limits {
    display: flex;
    gap: 0.3em;
}

div.graph-limits input {
    width: 3em;
}

h4 {
    margin: -3px 1em 0 1em;
    text-align: center;
}

input#total-ratio {
    cursor: pointer;
    background-color: lightgray;
    border: 1px solid gray;
}