div.inputs {
    flex-direction: column;
    align-self: flex-start;
}

div.page-element {
    align-items: center;
}

div.page-element#motor-spec {
    flex-direction: row;
    align-content: space-around;
    padding-top: 1em;
    padding-bottom: 1em;
    max-width: 250px;
}

select#motor {
    min-width: auto;
}

div#radios {
    align-items: stretch;
}

div#radios div:not(.field) {
    flex-direction: row;
    justify-content: space-evenly;
}

div#radios div.field {
    justify-content: center;
}

div.row {
    width: 100%;
    justify-content: space-around;
}

div.graph {
    align-items: stretch;
    /* width: 600px; */
    width: 70%;
    max-width: 100%;
    align-content: center;
}

div.graph span.warn {
    color: rgb(205, 0, 0);
    font-size: larger;
    font-weight: bolder;
}

canvas {
    background-color: white;
}

div.field-list {
    flex-direction: column;
    gap: inherit;
}

h3 {
    margin: 0;
    align-self: center;
    justify-self: center;
}

/* details > div {
    flex-direction: column;
}

a.show-link {
    text-decoration: underline;
    color: -webkit-link;
} */

img.arrow {
    height: 1em;
    cursor: pointer;
}

img.arrow[disabled] {
    display: none;
}