div.inputs {
    flex-direction: column;
    justify-items: flex-start;
}

input[type=radio][name=driven] {
    width: 0;
    border: 2px solid black;
    padding: 0.6em;
    margin: 0;
    margin-right: 0.5em;
    background-color: var(--med-light);
    -webkit-appearance: none;
}

input[type=radio][name=driven]:hover {
    background-color: var(--dark);
}

input[type=radio][name=driven]:checked {
    background-color: var(--selected) !important;
}

div.driven-set {
    flex-direction: row;
    align-items: center;
}

div.fields {
    flex-direction: column;
}

div.page-element#sketch {
    width: 40vw;
    min-width: 700px;
}

div.controls {
    flex-direction: row;
    align-items: center;
}

input#piston-pos {
    flex: 1;
}

canvas#sketch {
    background-color: white;
}

input[type=checkbox] {
    zoom: 1.5;
}