div.page-element {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 0.4em;
}

div.sprockets {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

div#units {
    flex-direction: row;
}

select {
    padding: 1px;
}

select#type {
    width: 10em;
}

h3 {
    margin: 0 0 0.5em 0;
}

div.field input {
    max-width: 5em;
}

div.field span {
    min-width: 2em;
}

div#dimensions {
    align-items: flex-end;
    align-self: flex-start;
}

div#dimensions span {
    min-width: 3em;
}

div#calculation {
    justify-content: space-between;
}

div.driving {
    display: flex;
    flex-direction: row;
    gap: 2em;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

div.driving input {
    margin-left: 3px;
}

div.geometry {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* align-items: center; */
    gap: 0.4em;
}

div.geometry span {
    width: 2em;
}