div.page-element#options {
    align-items: flex-end;
    justify-content: space-evenly;
    width: 220px;
}

div.page-element#options span {
    min-width: 1.5em;
}

div.num_stages {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

div.break#break1 {
    display: none;
}

div.page-element#clearance {
    width: 220px;
    justify-content: space-around;
}

div.clearance-type {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div#clearance div.field {
    justify-content: flex-end;
}

@media only screen and (max-width: 1114px) {
    div.break#break1 {
        display: flex;
    }
}


div.gear-options {
    align-items: center;
}

div.field input[id$="diam"], div.field input[id$="dist"] {
    max-width: 3em;
}

div.page-element#dist14 {
    align-items: center;
}

div.cc {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    align-items: center;
}

div.stock {
    margin-top: 2em;
    width: 100%;
}

summary {
    margin-left: 4em;
}

summary > * {
    cursor: pointer;
    display: inline;
}