div.body {
    align-content: center;
}

button.sheet {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 auto;
    min-width: 100%;
    border-width: 3px;
}

button.sheet img {
    max-width: 10em;
    width: auto;
    height: auto;
    margin-right: 1em;
}