div.inputs {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

div.page-element {
    align-items: center;
}

div.graph {
    display: flex;
    align-items: stretch;
    width: 600px;
    max-width: 800px;
}

canvas {
    background-color: white;
}

div.field {
    width: 100%;
}

div.enable {
    justify-content: center;
}

div.element-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    position: relative;
}

h3 {
    margin: 0;
    align-self: center;
    justify-self: center;
}

input[type=radio][name=driven] {
    width: 0;
    border: 2px solid black;
    padding: 0.6em;
    /* margin: 3px; */
    margin: 0;
    background-color: var(--med-light);
    -webkit-appearance: none;
    
}

input[type=radio][name=driven]:hover {
    background-color: var(--dark);
}

input[type=radio][name=driven]:checked {
    background-color: var(--selected) !important;
}

div.element-header div {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    /* flex: 1;
    margin: calc(5px + 0.6em); */
}

details > div {
    display: flex;
    flex-direction: column;
}

a.show-link {
    text-decoration: underline;
    color: -webkit-link;
}