:root {
    --white: #EEECE8;
    --med-light: #608F60;
    --med-dark: #588157;
    --dark: #405a3f;
    background-color: var(--white);
    /* font-size: 0px; */
}

.header {
    background-color: var(--med-dark);
    padding: 10px;
    border: 3px solid black;
    border-radius: 5px;
    text-align: center;
    display: block;
    width: 100%-20px;
    min-height: 20px;
}

.header h1 {
    display: inline-block;
    vertical-align: middle;
    margin: 0.2em;
    color: var(--white);
    line-height: 4vw;
}

.header img.logo {
    /* TODO: center vertically */
    float: left;
    height: 46px;
}

.body {
    margin: 10px;
    width: 100%-20px;
}

.footer {
    padding-top: 10px;
    text-align: center;
}

.button-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button.sheet {
    background-color: var(--med-light);
    padding: 8px;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgb(0,0,0,0.5);
    display: inline-flex;
    justify-content: left;
    align-items: center;
}

button.sheet:hover {
    background-color: var(--dark);
}

button.sheet img {
    height: 7vw;
    float: left;
}

button.sheet h3 {
    font-size: 20px;
    margin: 0.2em auto;
    margin-left: 1em;
}

a {
    text-decoration: none;
}

/* Large Screen */
@media screen and (min-width: 831px) {
    .header h1 {
        font-size: 4em;
    }
    
    .header img.logo {
        height: 40px;
    }

    .button-row {
        width: 85%;
        margin: 5px auto;
    }

    button.sheet {
        width: 30vw;
    }

    .footer {
        font-size: 14px;
    }
}

/* Small Screen */
@media screen and (max-width: 831px) {
    .header img.logo {
        display: none;
    }
    
    .button-row {
        width: 100%;
        margin: 5px auto;
    }

    button.sheet {
        width: 45vw;
    }

    .footer {
        font-size: 10px;
    }
}